<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Home Tomato APP</title>
</head>
<body>
	<header th:insert="header :: header"></header>
	<h1>BEST OF TOMATO TWEET</h1>

	<p sec:authorize="isAnonymous()">Veuillez vous connecter pour visualiser vos actus</p>

	<div id="filactu" sec:authorize="isAuthenticated()">

		<h2>Liste des articles</h2>
		<a href="#" th:href="@{/private/post/add}">Ajouter un article</a>
		<table>
			<thead>
				<tr>
					<th>Catégorie</th>
					<th>Contenu</th>
				<tr>
			</thead>
			<tbody>
				<tr th:each="post: ${posts}">
					<td><span th:text="${post.category}" /></td>
					<td><span th:text="${post.content}" /></td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>
